.board {
  .board-cell{
    width: 25px;
    height: 21px;
    border-collapse: collapse;
    border: 1px solid #2f3640;
    background-color: transparent;
    transition: background-color 0.5s ease;
    &.source {
      background-color: #6ab04c;
    }
    &.target {
      background-color: #30336b;
    }
    &.wall {
      background-color: #2f3640 !important;
    }
    &.path {
      background-color: #ff9f43 !important;
    }
    &.visited {
      background-color: #8395a7;
    }
  }
  table {
    border-collapse: collapse;
  }
}
